<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/main.css" type="text/css" />
<title>详细问题</title>
</head>

<body>
<div class="wrapper">
   <%include file="header.html"%>
  <div class="content clearfix">
    <h1 class="info_h1">如何下载手机屏保？</h1>
    <div class="left"> <a class="ad" href=""><img src="image/2.jpg" alt="" /></a>
      <div class="info_con clearfix">
        <div class="info_left">
          <div class="info_num">5</div>
          <a href="" class="collect">收藏</a> </div>
        <div class="info_right">1. I would bring a hammer and break the tanks so that the sharks can come 
          out to play with kids and that I would call true contact of man and nature 
          which as an environmental friendly rule should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
          out to play with kids and that I would call true contact of man and nature 
          which as an environmental friendly rule should be followed by all.</div>
        <div class="tag_peo clear">
          <div class="tag_peo_left"><span>标签</span><a href="" class="tag">歌词</a><a href="" class="tag">大家来干吧</a></div>
          <div class="tag_peo_right">
            <div class="tag_peo_img"><a href=""><img src="image/3.jpg" alt="" /></a></div>
            <div class="tag_peo_info">
              <p>12小时以前</p>
              <a href="" class="tag_peo_name">susan</a></div>
          </div>
        </div>
      </div>
      <h2 class="answer">有2个回答</h2>
      <div class="info_con clearfix">
        <div class="info_left">
          <div class="info_num">5</div>
          <div class="right_answer"></div>
        </div>
        <div class="info_right">
          <p>1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.</p>
          <p class="gray"> should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of ma</p>
          <p>1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should</p>
        </div>
        <div class="tag_peo clear">
          <div class="tag_peo_right">
            <div class="tag_peo_img"><a href=""><img src="image/3.jpg" alt="" /></a></div>
            <div class="tag_peo_info">
              <p>12小时以前</p>
              <a href="" class="tag_peo_name">susan</a></div>
          </div>
        </div>
      </div>
      <div class="info_con clearfix">
        <div class="info_left">
          <div class="info_num">5</div>
        </div>
        <div class="info_right">
          <p>1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.</p>
          <p class="gray"> should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of ma</p>
          <p>1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should be followed by all.1. I would bring a hammer and break the tanks so that the sharks can come 
            out to play with kids and that I would call true contact of man and nature 
            which as an environmental friendly rule should</p>
        </div>
        <div class="tag_peo clear">
          <div class="tag_peo_right">
            <div class="tag_peo_img"><a href=""><img src="image/3.jpg" alt="" /></a></div>
            <div class="tag_peo_info">
              <p>12小时以前</p>
              <a href="" class="tag_peo_name">susan</a></div>
          </div>
        </div>
      </div>
      <h2 class="answer">你的回答</h2>
      <div class="textarea"><img src="image/text.jpg" alt="" /></div>
      <a href="#" class="send">提交</a>
      <div class="try_other">
        <div class="try_other_font">没有你想要的答案？</div>
        <ul class="try_other_list">
          <li class="try_other1">
            <div>1.试试其他标签</div>
            <a href="" class="tag">陈磊是什么</a><a href="" class="tag">陈磊是什么</a></li>
          <li class="try_other2 clear">2.<a href="">提出自己的问题</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="green_block clearfix">
        <h2 >相同问题</h2>
        <ul>
          <li><a href="">1相同问题相同问题</a></li>
          <li><a href="">2相同问题相同问题</a></li>
          <li><a href="">3相同问题相同问题</a></li>
          <li><a href="">4相同问题</a></li>
        </ul>
        <div class="more"><a href="">更多&gt;&gt;</a></div>
      </div>
      <div class="green_block clearfix">
        <h2 >你可能感兴趣的问题</h2>
        <ul>
          <li><a href="">1相同问题相同问题</a></li>
          <li><a href="">2相同问题相同问题</a></li>
          <li><a href="">3相同问题相同问题</a></li>
          <li><a href="">4相同问题</a></li>
        </ul>
        <div class="more"><a href="">更多&gt;&gt;</a></div>
      </div>
      <div class="interest_tag">
        <h2>你可能感兴趣的标签</h2>
        <div class="tags">
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
          <div><a href="#" class="tag">互联网</a><span>×100</span></div>
        </div>
        <div class="more"><a href="">更多&gt;&gt;</a></div>
      </div>
    </div>
  </div>
 <%include file="footer.html"%>
</div>
</body>
</html>
