<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="<%$CSSDIR%>/main.css" type="text/css" />
<script type="text/javascript" src="<%$JSDIR%>/sea.js" data-main="<%$host%>js/init"></script>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<title>首页</title>
</head>

<body>
<%include file="header.html"%>
        <div class="content">
            <div class="left">
                <div class="second_tab">
                    <div class="tab_title">所有问题</div>
                    <div class="tab_list">
                    	<a href="<%$host%>index.php/question" <%if $tag eq hot%>class="current"<%/if%>>热门问题</a>
                    	<a href="<%$host%>index.php/latest" <%if $tag eq latest%>class="current"<%/if%>>最新问题</a>
                    	<a href="<%$host%>index.php/weekrank" <%if $tag eq week%>class="current"<%/if%>>本周热门</a>
                    	<a href="<%$host%>index.php/monthrank" <%if $tag eq month%>class="current"<%/if%>>本月热门</a>
                    </div>
                </div>
                <ul class="question">
				<%foreach item=item from=$questions%>
                    <li class="q">
                        <ul class="q_state">
                            <li>
                                <span class="num num1"><%$item.votes%></span>
                                <span class="num1">投票</span>
                            </li>
                            <li class="noanswer">
                                <span class="num num2"><%$item.answer%></span>
                                <span class="num2">回答</span>
                            </li>
                            <li>
                                <span class="num num3"><%$item.view%></span>
                                <span class="num3">关注</span>
                            </li>
                        </ul>
                        <div class="qi">
                            <h2 class="q_title"><a href="#"><%$item.title%></a></h2>
                            <div class="q_other">
                                <div class="q_tag">
                                    <a class="tag" href="#">互联网</a>
                                    <a class="tag" href="#">php</a>
                                    <a class="tag" href="#">iphone</a>
                                </div>
                                <div class="q_author">10分钟前<a href="#">Alice</a>提问</div>
                            </div>
                        </div>
                    </li>
                 <%/foreach%>
                </ul>
            </div>
            <div class="right"><!--
                <div class="adv">
                    <img src="" />
                </div>
                <div class="adv">
                    <img src="" />
                </div>-->
                <div class="addtag">
                    <h2>感情趣的标签</h2>
                    <div id="favtags">
                    	<span href="#" class="tag"><span>互联网</span></span>
                    	<span href="#" class="tag"><span>互联网aaaaa</span> </span>
                    	<span href="#" class="tag"><span>objective-c</span> </span>
                    	<span href="#" class="tag"><span>互联网a</span> </span>
                    	<span href="#" class="tag"><span>互联网aaaaa</span> </span>
                    </div>    
		<div class="addaction">
                    	<input id="addfavtag" type="text" /><a href="#">添加</a>
                    </div>
                </div>
                
                <div class="hottag">
                    <h2>热门标签</h2>
                    <div class="tags">
					<%foreach item=item from=$tags%>
                        <div><a href="#" class="tag"><%$item->name%></a><span>×<%$item->q_total%></span></div>
					<%/foreach%>
                    </div>
                </div>
        	</div>
    	</div>
    </div>
</body>
</html>
